.articleRow{
	height:100px;
	clear:both;
}


a .row h4{
	text-align:center;
	text-shadow:none;
	text-decoration:none;
	color:white;
	font-size:1.2em;
}

.background-image {
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;}

.content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  height: 100px;
}

.ui-content{
	padding:0;
}